<div class="playlists hidden">
    <div class="playlist-items">
        <!-- Playlists will be dynamically inserted here -->
    </div>
</div>
<div class="now-playing hidden">
    <div class="artwork">
        <img src="" alt="Album Art" id="album-art">
    </div>
    <div class="song-info">
        <div class="song-title">No song playing</div>
        <div class="artist">Select a song</div>
        <div class="time-info">
            <span class="current-time">0:00</span>
            <span class="total-time">0:00</span>
        </div>
    </div>
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
</div>